.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./image/aerialView.png);
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  color: #fff;
  text-shadow: 1px 1px 4px #000;
  text-align: center;
  position: relative;
  background: transparent;
  user-select: none;
  z-index: 3;
}

.top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  background: rgba(161, 189, 241, 0.6);
  z-index: 1;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 3;
}

.searchArea {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #4369b0;
  min-width: 250px;
  color: #fff;
}

::placeholder {
  color: #fff;
}

input:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  right: 8px;
  color: #fff;
}

#clearBtn {
  cursor: pointer;
}
